#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#container{
  border: solid gray;
  padding: 25px;
  display: flex;
  flex-direction: row;
  width: 	fit-content;
  height: 800px;
}

#controles{
  border-right: solid  blue;
  display: flex;
  width: fit-content;
  flex-direction: column;
  background-color:azure;
}
#funciones{
  display: flex;
  width: fit-content;
  height: 50%;
  padding: 10px;
  flex-direction: column;
}
#crearCliente{
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 500px;
  border-bottom: solid gray;
}
#historial{
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-bottom: solid gray;
}

input{
  margin: 10px;
}
button{
  margin: 10px;
  
}
button:hover{
  border-left: solid red;
  color: red;
}
label{
  margin: 10px;
}
